{% extends 'geoportal/base.html' %}
{% block title %}Останні публікації{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Новини та цікаві статті</h1>
    <div class="row">
        {% for article in object_list %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article_detail' article.id %}" class="stretched-link">{{ article.title }}</a></h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Опубліковано: {{ article.created_date|date:"DATE_FORMAT" }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
